body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color:greenyellow;
  color: white;
  background-image: url('../pictures/elepant.jpg');
  background-size: cover;       
  background-repeat: no-repeat;  
  background-position: center;   

}

header {
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  background-color: #004d00;
  padding: 10px;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a.active, nav ul li a:hover {
  color: yellow;
}

.hero {
  background-image: url('../pictures/gorilla\ 1.webp');
  background-size: cover;
  color: white;
  background-position: center;
  padding: 80px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: yellow;
  border: none;
  font-weight: bold;
  cursor: pointer;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  font-style: black;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  width: 30%;
  text-align: center;
  padding: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #004d00;
  color: white;
}
